<a href="https://colab.research.google.com/github/abiflynn/data_engineering/blob/main/web_scraping/wikipedia_web_scraping_table_page.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
!pip install --upgrade beautifulsoup4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (4.11.2)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.2-py3-none-any.whl (142 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 143.0/143.0 kB 5.9 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4) (2.4.1)
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.11.2
    Uninstalling beautifulsoup4-4.11.2:
      Successfully uninstalled beautifulsoup4-4.11.2
Successfully installed beautifulsoup4-4.12.2

In [2]:
#importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [3]:
#copy the url . find url and store it in a variable
url="https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits"

In [4]:
# download html with a get request
headers = {'Accept-Language': 'en-US,en;q=0.8'}
response = requests.get(url, headers = headers)
response.status_code

200

In [6]:
# parse html (create the 'soup')
soup = BeautifulSoup(response.content, "html.parser")

In [7]:
soup.select("td a")[0].get("title") # city name

'Istanbul'

In [8]:
num_iter = len(soup.select("td a"))
num_iter

234

In [9]:
for i in range(num_iter):
    print(soup.select("td a")[i].get_text())

Istanbul
[a]
Turkey
[b]

41°00′49″N 28°57′18″E﻿ / ﻿41.013611°N 28.955°E﻿ / 41.013611; 28.955﻿ (1 Istanbul)
[2]
Moscow
[c]
Russia

55°45′00″N 37°37′00″E﻿ / ﻿55.75°N 37.616667°E﻿ / 55.75; 37.616667﻿ (2 Moscow)
[3]
London
United Kingdom

51°30′26″N 0°07′39″W﻿ / ﻿51.507222°N 0.1275°W﻿ / 51.507222; -0.1275﻿ (3 London)
[4]
Saint Petersburg
Russia

59°57′N 30°18′E﻿ / ﻿59.95°N 30.3°E﻿ / 59.95; 30.3﻿ (4 Saint Petersburg)
[3]
Berlin
Germany

52°31′00″N 13°23′00″E﻿ / ﻿52.516667°N 13.383333°E﻿ / 52.516667; 13.383333﻿ (5 Berlin)
[5]
Madrid
Spain

40°23′00″N 3°43′00″W﻿ / ﻿40.383333°N 3.716667°W﻿ / 40.383333; -3.716667﻿ (6 Madrid)
[6]
Kyiv
Ukraine

50°27′00″N 30°31′24″E﻿ / ﻿50.45°N 30.523333°E﻿ / 50.45; 30.523333﻿ (7 Kiev)
[7]
Rome
Italy

41°54′N 12°30′E﻿ / ﻿41.9°N 12.5°E﻿ / 41.9; 12.5﻿ (8 Rome)
[8]
Baku
[d]
Azerbaijan

40°24′N 49°54′E﻿ / ﻿40.4°N 49.9°E﻿ / 40.4; 49.9﻿ (Baku)
[9]
Bucharest
Romania

44°25′57″N 26°06′14″E﻿ / ﻿44.4325°N 26.103889°E﻿ / 44.4325; 26.103889﻿ (9 Bucharest)
[10]
Paris
France

48°51′24″N 2°21′03″E﻿ / ﻿48.8567°N 2.3508°E﻿ / 48.8567; 2.3508﻿ (10 Paris)
[11]
Minsk
Belarus

53°54′00″N 27°34′00″E﻿ / ﻿53.9°N 27.566667°E﻿ / 53.9; 27.566667﻿ (11 Minsk)
[12]
Vienna
Austria

48°12′00″N 16°22′00″E﻿ / ﻿48.2°N 16.366667°E﻿ / 48.2; 16.366667﻿ (12 Vienna)
[13]
Warsaw
Poland

52°14′00″N 21°01′00″E﻿ / ﻿52.233333°N 21.016667°E﻿ / 52.233333; 21.016667﻿ (13 Warsaw)
[14]
Hamburg
Germany

53°33′55″N 10°00′05″E﻿ / ﻿53.565278°N 10.001389°E﻿ / 53.565278; 10.001389﻿ (14 Hamburg)
[15]
Budapest
Hungary

47°29′33″N 19°03′05″E﻿ / ﻿47.4925°N 19.051389°E﻿ / 47.4925; 19.051389﻿ (15 Budapest)
[16]
Belgrade
Serbia

44°49′00″N 20°28′00″E﻿ / ﻿44.816667°N 20.466667°E﻿ / 44.816667; 20.466667﻿ (16 Belgrade)
[17]
Barcelona
Spain

41°23′00″N 2°11′00″E﻿ / ﻿41.383333°N 2.183333°E﻿ / 41.383333; 2.183333﻿ (17 Barcelona)
[6]
Munich
Germany

48°08′00″N 11°34′00″E﻿ / ﻿48.133333°N 11.566667°E﻿ / 48.133333; 11.566667﻿ (18 Munich)
[15]
Kharkiv
Ukraine

50°00′16″N 36°13′53″E﻿ / ﻿50.004444°N 36.231389°E﻿ / 50.004444; 36.231389﻿ (19 Kharkiv)
[7]
Milan
Italy

45°28′00″N 9°11′00″E﻿ / ﻿45.466667°N 9.183333°E﻿ / 45.466667; 9.183333﻿ (20 Milan)
[8]
Sofia
Bulgaria

42°42′N 23°20′E﻿ / ﻿42.7°N 23.33°E﻿ / 42.7; 23.33﻿ (21 Sofia)
[18]
Prague
Czech Republic

50°05′00″N 14°25′00″E﻿ / ﻿50.083333°N 14.416667°E﻿ / 50.083333; 14.416667﻿ (22 Prague)
[19]
Kazan
Russia

55°47′25″N 49°08′05″E﻿ / ﻿55.790278°N 49.134722°E﻿ / 55.790278; 49.134722﻿ (23 Kazan)
[3]
Nizhny Novgorod
Russia

56°19′37″N 44°00′27″E﻿ / ﻿56.326944°N 44.0075°E﻿ / 56.326944; 44.0075﻿ (24 Nizhny Novgorod)
[3]
Tbilisi
[e]
Georgia

41°43′00″N 44°47′00″E﻿ / ﻿41.7166°N 44.7833°E﻿ / 41.7166; 44.7833﻿ (Tbilisi)
[20]
Birmingham
United Kingdom

52°28′59″N 1°53′37″W﻿ / ﻿52.483056°N 1.893611°W﻿ / 52.483056; -1.893611﻿ (25 Birmingham)
[4]
Samara
Russia

53°12′10″N 50°08′27″E﻿ / ﻿53.202778°N 50.140833°E﻿ / 53.202778; 50.140833﻿ (26 Samara)
[3]
Ufa
Russia

54°45′00″N 55°58′00″E﻿ / ﻿54.75°N 55.966667°E﻿ / 54.75; 55.966667﻿ (27 Ufa)
[3]
Rostov-on-Don
Russia

47°14′00″N 39°42′00″E﻿ / ﻿47.233333°N 39.7°E﻿ / 47.233333; 39.7﻿ (28 Rostov-on-Don)
[3]
Yerevan
[f]
Armenia

40°10′52″N 44°30′36″E﻿ / ﻿40.181°N 44.51°E﻿ / 40.181; 44.51﻿ (Yerevan)
[21]
Cologne
Germany

50°56′11″N 6°57′10″E﻿ / ﻿50.936389°N 6.952778°E﻿ / 50.936389; 6.952778﻿ (29 Cologne)
[15]
Voronezh
Russia

51°40′18″N 39°12′38″E﻿ / ﻿51.671667°N 39.210556°E﻿ / 51.671667; 39.210556﻿ (30 Voronezh)
[3]
Perm
Russia

58°00′00″N 56°19′00″E﻿ / ﻿58°N 56.316667°E﻿ / 58; 56.316667﻿ (31 Perm)
[3]
Odesa
Ukraine

46°29′06″N 30°44′35″E﻿ / ﻿46.485°N 30.743°E﻿ / 46.485; 30.743﻿ (32 Odesa)
[7]
Volgograd
Russia

48°42′00″N 44°31′00″E﻿ / ﻿48.7°N 44.516667°E﻿ / 48.7; 44.516667﻿ (33 Volgograd)
[3]
Capitals
Africa
Americas
North
Latin
Central
South
Asia
Arab world
ASEAN
Arabia
East, South and Southeast Asia
Europe
European Union
Nordic
Americas
North
South
West Indies
Europe
European Union
Asia
Africa
Middle East
Oceania
Asia
Africa
Europe
European Union
Nordic
North America
Oceania
Transborder
World
Europe
Arcology
Ecumenopolis
Global city
Megacity
Megalopolis
Conurbation
Satellite city
population
Primate city
Secondary city
Cities portal

World portal

In [11]:
#soup.select("table")

In [12]:
soup.select("td a")[4].get_text()

''

In [14]:
# created a dataframe of european cities 
table =soup.find(lambda tag: tag.name=='table')# find the table 
rows = table.findAll(lambda tag: tag.name=='a' and tag.has_attr("title"))# find rows wth tag a in table
# rows contains links of cities and corresponding countries such that links of cities in odd and links of countries
# in even positions respectively
#type(rows)#.text
# create a empty list city
cities=[] 
# append the cities stored in odd positions
for i in range(0,len(rows),2):
    cities.append(rows[i].text)
    
# create a empty list country   
countries=[]
# append the countries stored in odd positions
for i in range(1,len(rows),2):
    countries.append(rows[i].text)

#span tag contains population and european population(mostly blanks)
#european poulation has parent as td with attribute align

#table =soup.find(lambda tag: tag.name=='table')# find the table 
rows = table.findAll(lambda tag: tag.name=='span' and tag.has_attr("data-sort-value")and not tag.has_attr("style") and not tag.parent.has_attr("align"))
population=[] 
# append the cities stored in odd positions
for i in range(0,len(rows),1):
    population.append(rows[i].text)
   
#table =soup.find(lambda tag: tag.name=='table')# find the table 
long = table.findAll('span' ,class_="longitude")
lat=table.findAll('span' ,class_="latitude")

euro_cities_df = pd.DataFrame(list(zip(cities,countries,population,long,lat)),columns=["city","country","population","longititude","latitude"])

euro_cities_df.head()

               city         country  population   longititude      latitude
0          Istanbul          Turkey  15,907,951  [28°57′18″E]  [41°00′49″N]
1            Moscow          Russia  13,097,539  [37°37′00″E]  [55°45′00″N]
2            London  United Kingdom   8,799,800   [0°07′39″W]  [51°30′26″N]
3  Saint Petersburg          Russia   8,173,941     [30°18′E]     [59°57′N]
4            Berlin         Germany   5,598,486  [13°23′00″E]  [52°31′00″N]