In [9]:
import requests
import json
import pandas as pd
import re

In [16]:
def weather_forecast(cities):

  API_key = '197ff6b262aa1061aa253928df03ed33'

  weather_dict = {'city': [],
                'country': [],
                'latitude': [],
                'longitude': [],
                'temp': [],
                'temp_min': [],
                'temp_max': [],
                'date_of_forecast': [],
                'weather_overview': [], 
                'weather_description': [], 
                'feels_like': [], 
                'pressure': [],
                'humidity': [], 
                'wind_speed': [],
                'wind_deg': [], 
                'clouds': []
                }

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()
    weather_df = pd.json_normalize(json["list"])

    for i in range(0,len(weather_df),8):
      weather_dict['city'].append(json['city']['name'])
      weather_dict['country'].append(json['city']['country'])
      weather_dict['latitude'].append(json['city']['coord'].get('lat'))
      weather_dict['longitude'].append(json['city']['coord'].get('lon'))
      weather_dict['temp'].append(json["list"][i]['main']['temp'])
      weather_dict['temp_min'].append(json["list"][i]['main']['temp_min'])
      weather_dict['temp_max'].append(json["list"][i]['main']['temp_max'])
      weather_dict['date_of_forecast'].append(json["list"][i]['dt_txt'])
      weather_dict["weather_overview"].append(json["list"][i]['weather'][0]["main"])
      weather_dict["weather_description"].append(json["list"][i]['weather'][0]["description"])
      weather_dict["feels_like"].append(json["list"][i]['main']["feels_like"])
      weather_dict["pressure"].append(json["list"][i]['main']["pressure"])
      weather_dict["humidity"].append(json["list"][i]['main']["humidity"])
      weather_dict["wind_speed"].append(json["list"][i]["wind"]["speed"])
      weather_dict["wind_deg"].append(json["list"][i]["wind"]["deg"])
      weather_dict["clouds"].append(json["list"][i]["clouds"]["all"])

  return pd.DataFrame(weather_dict)

In [17]:
list_of_cities = ['Berlin', 'Hamburg', 'London', 'Manchester', 'Barcelona']
weather_df = weather_forecast(list_of_cities)
weather_df

,city,country,latitude,longitude,temp,temp_min,temp_max,date_of_forecast,weather_overview,weather_description,feels_like,pressure,humidity,wind_speed,wind_deg,clouds
0,Berlin,DE,52.5244,13.4105,6.70,6.70,8.10,2023-02-14 12:00:00,Clouds,broken clouds,5.74,1030,74,1.62,165,70
1,Berlin,DE,52.5244,13.4105,9.91,9.91,9.91,2023-02-15 12:00:00,Clouds,few clouds,8.64,1027,56,2.62,198,17
2,Berlin,DE,52.5244,13.4105,9.21,9.21,9.21,2023-02-16 12:00:00,Clouds,overcast clouds,7.07,1023,70,3.91,259,96
3,Berlin,DE,52.5244,13.4105,8.83,8.83,8.83,2023-02-17 12:00:00,Rain,light rain,5.70,1012,91,6.17,231,100
4,Berlin,DE,52.5244,13.4105,7.14,7.14,7.14,2023-02-18 12:00:00,Clouds,broken clouds,2.83,1019,55,8.43,286,57
5,Hamburg,DE,53.5500,10.0000,7.43,7.43,9.14,2023-02-14 12:00:00,Clouds,few clouds,6.66,1035,79,1.55,142,23
6,Hamburg,DE,53.5500,10.0000,9.70,9.70,9.70,2023-02-15 12:00:00,Clouds,overcast clouds,8.28,1025,63,2.79,226,92
7,Hamburg,DE,53.5500,10.0000,7.59,7.59,7.59,2023-02-16 12:00:00,Clouds,overcast clouds,5.29,1022,86,3.53,253,100
8,Hamburg,DE,53.5500,10.0000,9.77,9.77,9.77,2023-02-17 12:00:00,Rain,light rain,6.49,1009,96,7.55,240,100
9,Hamburg,DE,53.5500,10.0000,7.21,7.21,7.21,2023-02-18 12:00:00,Clouds,broken clouds,3.46,1021,58,6.68,291,80
10,London,GB,51.5085,-0.1257,6.90,6.90,10.85,2023-02-14 12:00:00,Clouds,broken clouds,5.71,1032,84,1.87,204,62
11,London,GB,51.5085,-0.1257,11.51,11.51,11.51,2023-02-15 12:00:00,Clouds,broken clouds,10.36,1023,63,4.71,216,74
12,London,GB,51.5085,-0.1257,8.90,8.90,8.90,2023-02-16 12:00:00,Rain,light rain,6.09,1020,93,5.31,211,100
13,London,GB,51.5085,-0.1257,12.37,12.37,12.37,2023-02-17 12:00:00,Clouds,overcast clouds,11.75,1019,80,7.31,244,100
14,London,GB,51.5085,-0.1257,11.28,11.28,11.28,2023-02-18 12:00:00,Clouds,overcast clouds,10.50,1024,78,5.35,248,100
15,Manchester,GB,53.4809,-2.2374,6.74,6.74,10.23,2023-02-14 12:00:00,Clouds,broken clouds,4.77,1029,80,2.75,170,65
16,Manchester,GB,53.4809,-2.2374,8.91,8.91,8.91,2023-02-15 12:00:00,Rain,light rain,6.26,1018,74,4.92,229,48
17,Manchester,GB,53.4809,-2.2374,7.79,7.79,7.79,2023-02-16 12:00:00,Rain,light rain,6.45,1016,97,2.19,202,100
18,Manchester,GB,53.4809,-2.2374,11.86,11.86,11.86,2023-02-17 12:00:00,Rain,light rain,11.06,1015,75,10.18,274,100
19,Manchester,GB,53.4809,-2.2374,9.21,9.21,9.21,2023-02-18 12:00:00,Rain,light rain,6.70,1019,95,4.76,235,100
20,Barcelona,ES,41.3888,2.1590,11.34,11.34,12.34,2023-02-14 12:00:00,Clear,clear sky,10.33,1034,69,2.69,212,0
21,Barcelona,ES,41.3888,2.1590,12.54,12.54,12.54,2023-02-15 12:00:00,Clouds,overcast clouds,11.29,1030,55,1.51,220,100
22,Barcelona,ES,41.3888,2.1590,13.08,13.08,13.08,2023-02-16 12:00:00,Clouds,overcast clouds,11.75,1031,50,1.49,182,99
23,Barcelona,ES,41.3888,2.1590,15.06,15.06,15.06,2023-02-17 12:00:00,Clear,clear sky,13.67,1031,40,2.26,220,6
24,Barcelona,ES,41.3888,2.1590,16.13,16.13,16.13,2023-02-18 12:00:00,Clear,clear sky,14.87,1029,41,3.10,240,0

In [20]:
schema="project_5_database"   # name of the database you want to use here
host="wbs-project5-db.cd7fypqniwr8.eu-west-2.rds.amazonaws.com"        # to connect to your local server
user="admin"
password="ENTER YOUR PASSWORD" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [21]:
weather_df.to_sql('weather',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

25