In [13]:
import requests
import json
import pandas as pd
import re
from IPython.core import error

In [14]:
def flight_arrivals(icao,date_from,date_to):

  list_for_df = []
  for x in icao:
    url = f"https://aerodatabox.p.rapidapi.com/flights/airports/icao/{icao}/{date_from}/{date_to}"
    querystring = {"withLeg":"true","withCancelled":"true","withCodeshared":"true","withCargo":"true","withPrivate":"true","withLocation":"false"}
    headers = {
                  "X-RapidAPI-Key": "00663ce840msh1d6492d6b0bcbc8p1d356ajsnfcd4007adece",
                  "X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
              }

    flights = requests.request("GET", url, headers=headers, params=querystring)
    flights = flights.json()

    for i in flights["arrivals"]:
        flights_dict = {}
        
        flights_dict['flight_number'] = i.get('number', None)
        flights_dict['flight_status'] = i.get("status", None)
        flights_dict['airline'] = i['airline'].get('name', None)
        flights_dict['cargo'] = i.get('isCargo', None)
        flights_dict['departure_iata'] = i["departure"]["airport"].get("iata", None)
        flights_dict['departure_city'] = i['departure']['airport'].get('name', None)
        flights_dict['local_departure_time'] = i['departure'].get('scheduledTimeLocal', None)
        flights_dict['utc_departure_time'] = i['departure'].get('scheduledTimeUtc', None)
        flights_dict["arrival_icao"] = icao
        flights_dict['arrival_terminal'] = i['arrival'].get('terminal', None)
        flights_dict['local_arrival_sceduled_time'] = i['arrival'].get('scheduledTimeLocal', None)
        flights_dict['utc_arrival_sceduled_time'] = i['arrival'].get('scheduledTimeUtc', None)
        flights_dict['local_arrival_actual_time'] = i['arrival'].get('actualTimeLocal', None)
        flights_dict['utc_arrival_actual_time'] = i['arrival'].get('actualTimeUtc', None)  

        list_for_df.append(flights_dict)

  return pd.DataFrame(list_for_df)

In [15]:
icao = "EDDB"
#["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
date_from = "2023-02-10T10:00"
date_to = "2023-02-10T18:00"

EDDB_flights_df = flight_arrivals(icao,date_from,date_to)
EDDB_flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,DX 123,Unknown,Danish Air,False,SCN,Saarbr√ºcken,2023-02-10 08:40+01:00,2023-02-10 07:40Z,EDDB,0,2023-02-10 10:20+01:00,2023-02-10 09:20Z,None,None
1,FR 328,Expected,Ryanair,False,OTP,Bucharest,2023-02-10 09:45+02:00,2023-02-10 07:45Z,EDDB,0,2023-02-10 10:55+01:00,2023-02-10 09:55Z,None,None
2,IB 3676,Expected,Iberia,False,MAD,Madrid,2023-02-10 07:45+01:00,2023-02-10 06:45Z,EDDB,1,2023-02-10 10:50+01:00,2023-02-10 09:50Z,None,None
3,LH 1934,Expected,Lufthansa,False,MUC,Munich,2023-02-10 09:00+01:00,2023-02-10 08:00Z,EDDB,1,2023-02-10 10:10+01:00,2023-02-10 09:10Z,None,None
4,LO 387,Expected,LOT - Polish,False,WAW,Warsaw,2023-02-10 09:15+01:00,2023-02-10 08:15Z,EDDB,1,2023-02-10 10:35+01:00,2023-02-10 09:35Z,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,SN 2587,Expected,Brussels,False,BRU,Brussels,2023-02-10 16:25+01:00,2023-02-10 15:25Z,EDDB,1,2023-02-10 17:50+01:00,2023-02-10 16:50Z,None,None
392,TK 1723,Expected,Turkish,False,IST,Istanbul,2023-02-10 16:35+03:00,2023-02-10 13:35Z,EDDB,1,2023-02-10 17:35+01:00,2023-02-10 16:35Z,None,None
393,U2 4664,Unknown,easyJet,False,LIN,Milan,2023-02-10 15:55+01:00,2023-02-10 14:55Z,EDDB,1,2023-02-10 17:45+01:00,2023-02-10 16:45Z,None,None
394,U2 5126,Expected,easyJet,False,BCN,Barcelona,2023-02-10 14:55+01:00,2023-02-10 13:55Z,EDDB,1,2023-02-10 17:45+01:00,2023-02-10 16:45Z,None,None
395,U2 5142,Unknown,easyJet,False,NAP,N√°poli,2023-02-10 15:00+01:00,2023-02-10 14:00Z,EDDB,1,2023-02-10 17:20+01:00,2023-02-10 16:20Z,None,None

In [16]:
icao = "EDDH"
#["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
date_from = "2023-02-10T10:00"
date_to = "2023-02-10T18:00"

EDDH_flights_df = flight_arrivals(icao,date_from,date_to)
EDDH_flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,EW 7171,Arrived,Eurowings,False,MUC,Munich,2023-02-10 09:10+01:00,2023-02-10 08:10Z,EDDH,1,2023-02-10 10:40+01:00,2023-02-10 09:40Z,2023-02-10 10:36+01:00,2023-02-10 09:36Z
1,EW 7403,Arrived,Eurowings,False,CDG,Paris,2023-02-10 08:55+01:00,2023-02-10 07:55Z,EDDH,1,2023-02-10 10:35+01:00,2023-02-10 09:35Z,2023-02-10 10:20+01:00,2023-02-10 09:20Z
2,EW 7753,Arrived,Eurowings,False,VIE,Vienna,2023-02-10 09:05+01:00,2023-02-10 08:05Z,EDDH,1,2023-02-10 10:45+01:00,2023-02-10 09:45Z,2023-02-10 10:44+01:00,2023-02-10 09:44Z
3,LH 8,Arrived,Lufthansa,False,FRA,Frankfurt-am-Main,2023-02-10 09:00+01:00,2023-02-10 08:00Z,EDDH,2,2023-02-10 10:05+01:00,2023-02-10 09:05Z,2023-02-10 10:13+01:00,2023-02-10 09:13Z
4,LO 399,Arrived,LOT - Polish,False,WAW,Warsaw,2023-02-10 09:15+01:00,2023-02-10 08:15Z,EDDH,2,2023-02-10 10:55+01:00,2023-02-10 09:55Z,2023-02-10 10:51+01:00,2023-02-10 09:51Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263,LH 2072,Arrived,Lufthansa,False,MUC,Munich,2023-02-10 16:10+01:00,2023-02-10 15:10Z,EDDH,2,2023-02-10 17:30+01:00,2023-02-10 16:30Z,2023-02-10 17:33+01:00,2023-02-10 16:33Z
264,LH 22,Arrived,Lufthansa,False,FRA,Frankfurt-am-Main,2023-02-10 16:00+01:00,2023-02-10 15:00Z,EDDH,2,2023-02-10 17:05+01:00,2023-02-10 16:05Z,2023-02-10 17:09+01:00,2023-02-10 16:09Z
265,LG 9513,Arrived,Luxair,False,LUX,Luxembourg,2023-02-10 15:55+01:00,2023-02-10 14:55Z,EDDH,2,2023-02-10 17:15+01:00,2023-02-10 16:15Z,2023-02-10 17:31+01:00,2023-02-10 16:31Z
266,TK 1663,Arrived,Turkish,False,IST,Istanbul,2023-02-10 15:55+03:00,2023-02-10 12:55Z,EDDH,1,2023-02-10 17:20+01:00,2023-02-10 16:20Z,2023-02-10 17:18+01:00,2023-02-10 16:18Z
267,EW 7043,Arrived,Eurowings,False,STR,Stuttgart,2023-02-10 16:50+01:00,2023-02-10 15:50Z,EDDH,1,2023-02-10 18:10+01:00,2023-02-10 17:10Z,2023-02-10 17:58+01:00,2023-02-10 16:58Z

In [17]:
icao = "EGLL"
#["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
date_from = "2023-02-10T10:00"
date_to = "2023-02-10T18:00"

EGLL_flights_df = flight_arrivals(icao,date_from,date_to)
EGLL_flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,AC 6697,Arrived,Air Canada,False,IST,Istanbul,2023-02-10 08:55+03:00,2023-02-10 05:55Z,EGLL,2,2023-02-10 09:55+00:00,2023-02-10 09:55Z,2023-02-10 10:04+00:00,2023-02-10 10:04Z
1,PK 5979,Arrived,Pakistan International,False,IST,Istanbul,None,None,EGLL,2,2023-02-10 09:55+00:00,2023-02-10 09:55Z,2023-02-10 10:04+00:00,2023-02-10 10:04Z
2,TK 1979,Arrived,Turkish,False,IST,Istanbul,2023-02-10 08:55+03:00,2023-02-10 05:55Z,EGLL,2,2023-02-10 09:55+00:00,2023-02-10 09:55Z,2023-02-10 10:04+00:00,2023-02-10 10:04Z
3,UA 6915,Arrived,United,False,IST,Istanbul,2023-02-10 08:55+03:00,2023-02-10 05:55Z,EGLL,2,2023-02-10 09:55+00:00,2023-02-10 09:55Z,2023-02-10 10:04+00:00,2023-02-10 10:04Z
4,AA 104,Arrived,American,False,JFK,New York,2023-02-09 22:45-05:00,2023-02-10 03:45Z,EGLL,3,2023-02-10 10:35+00:00,2023-02-10 10:35Z,2023-02-10 10:13+00:00,2023-02-10 10:13Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3851,BA 60,Arrived,British Airways,False,MLE,Mal√©,2023-02-10 11:45+05:00,2023-02-10 06:45Z,EGLL,5,2023-02-10 18:05+00:00,2023-02-10 18:05Z,2023-02-10 17:42+00:00,2023-02-10 17:42Z
3852,IB 7601,Arrived,Iberia,False,MLE,Mal√©,None,None,EGLL,5,2023-02-10 18:05+00:00,2023-02-10 18:05Z,2023-02-10 17:42+00:00,2023-02-10 17:42Z
3853,OZ 521,Arrived,Asiana,False,ICN,Seoul,None,None,EGLL,2,2023-02-10 18:10+00:00,2023-02-10 18:10Z,2023-02-10 17:27+00:00,2023-02-10 17:27Z
3854,VS 379,Arrived,Virgin Atlantic,False,ISB,Islamabad,2023-02-10 13:55+05:00,2023-02-10 08:55Z,EGLL,3,2023-02-10 18:00+00:00,2023-02-10 18:00Z,2023-02-10 17:22+00:00,2023-02-10 17:22Z
3855,NZ 4297,Arrived,Air New Zealand,False,AUH,Abu Dhabi Island and Internal Islands City,None,None,EGLL,4,2023-02-10 17:55+00:00,2023-02-10 17:55Z,2023-02-10 17:37+00:00,2023-02-10 17:37Z

In [18]:
icao = "EGCC"
#["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
date_from = "2023-02-10T10:00"
date_to = "2023-02-10T18:00"

EGCC_flights_df = flight_arrivals(icao,date_from,date_to)
EGCC_flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,BA 1390,Expected,British Airways,False,LHR,London,2023-02-10 09:50+00:00,2023-02-10 09:50Z,EGCC,3,2023-02-10 10:55+00:00,2023-02-10 10:55Z,None,None
1,EAI 10LY,Approaching,EAI,False,BHD,Belfast,None,None,EGCC,None,2023-02-10 10:56+00:00,2023-02-10 10:56Z,2023-02-10 10:56+00:00,2023-02-10 10:56Z
2,FI 440,Arrived,Icelandair,False,KEF,Reykjavik,2023-02-10 08:00+00:00,2023-02-10 08:00Z,EGCC,1,2023-02-10 10:40+00:00,2023-02-10 10:40Z,None,None
3,FR 37,CanceledUncertain,Ryanair,False,CCF,Carcassonne/Salvaza,2023-02-10 09:40+01:00,2023-02-10 08:40Z,EGCC,3,2023-02-10 10:55+00:00,2023-02-10 10:55Z,None,None
4,LH 2500,Expected,Lufthansa,False,MUC,Munich,2023-02-10 09:00+01:00,2023-02-10 08:00Z,EGCC,1,2023-02-10 10:10+00:00,2023-02-10 10:10Z,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,U2 1836,Expected,easyJet,False,AMS,Amsterdam,2023-02-10 17:10+01:00,2023-02-10 16:10Z,EGCC,1,2023-02-10 17:30+00:00,2023-02-10 17:30Z,None,None
364,U2 1888,Expected,easyJet,False,MUC,Munich,2023-02-10 16:40+01:00,2023-02-10 15:40Z,EGCC,1,2023-02-10 17:55+00:00,2023-02-10 17:55Z,None,None
365,U2 1902,CanceledUncertain,easyJet,False,TFS,Tenerife Island,2023-02-10 12:45+00:00,2023-02-10 12:45Z,EGCC,1,2023-02-10 17:30+00:00,2023-02-10 17:30Z,None,None
366,U2 1944,Arrived,easyJet,False,DLM,Dalaman,2023-02-10 15:55+03:00,2023-02-10 12:55Z,EGCC,1,2023-02-10 17:30+00:00,2023-02-10 17:30Z,None,None
367,FR 2183,Arrived,Ryanair,False,ZAG,Zagreb,2023-02-10 16:20+01:00,2023-02-10 15:20Z,EGCC,3,2023-02-10 18:00+00:00,2023-02-10 18:00Z,None,None

In [19]:
icao = "LEBL"
#["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
date_from = "2023-02-10T10:00"
date_to = "2023-02-10T18:00"

LEBL_flights_df = flight_arrivals(icao,date_from,date_to)
LEBL_flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,CX 1833,Arrived,Cathay Pacific,False,MAD,Madrid,2023-02-10 08:30+01:00,2023-02-10 07:30Z,LEBL,1,2023-02-10 09:50+01:00,2023-02-10 08:50Z,2023-02-10 10:07+01:00,2023-02-10 09:07Z
1,AV 6082,Arrived,SA AVIANCA,False,MAD,Madrid,2023-02-10 08:30+01:00,2023-02-10 07:30Z,LEBL,1,2023-02-10 09:50+01:00,2023-02-10 08:50Z,2023-02-10 10:07+01:00,2023-02-10 09:07Z
2,IB 3008,Arrived,Iberia,False,MAD,Madrid,2023-02-10 08:30+01:00,2023-02-10 07:30Z,LEBL,1,2023-02-10 09:50+01:00,2023-02-10 08:50Z,2023-02-10 10:07+01:00,2023-02-10 09:07Z
3,IB 3008S,Arrived,Iberia,False,MAD,Madrid,2023-02-10 08:30+01:00,2023-02-10 07:30Z,LEBL,1,2023-02-10 09:50+01:00,2023-02-10 08:50Z,2023-02-10 10:07+01:00,2023-02-10 09:07Z
4,HV 5131,Arrived,Transavia,False,AMS,Amsterdam,2023-02-10 06:25+01:00,2023-02-10 05:25Z,LEBL,2,2023-02-10 08:40+01:00,2023-02-10 07:40Z,2023-02-10 10:31+01:00,2023-02-10 09:31Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,VY 8749,Arrived,Vueling,False,MAN,Manchester,2023-02-10 14:25+00:00,2023-02-10 14:25Z,LEBL,1,2023-02-10 17:40+01:00,2023-02-10 16:40Z,2023-02-10 17:27+01:00,2023-02-10 16:27Z
1636,VY 8755,Arrived,Vueling,False,BHX,Birmingham,2023-02-10 13:50+00:00,2023-02-10 13:50Z,LEBL,1,2023-02-10 17:00+01:00,2023-02-10 16:00Z,2023-02-10 16:52+01:00,2023-02-10 15:52Z
1637,YW 8335,Expected,Air Nostrum,False,BJZ,Badajoz,2023-02-10 16:00+01:00,2023-02-10 15:00Z,LEBL,1,2023-02-10 17:35+01:00,2023-02-10 16:35Z,2023-02-10 17:35+01:00,2023-02-10 16:35Z
1638,FR 7435,Arrived,Ryanair,False,NAP,N√°poli,2023-02-10 16:10+01:00,2023-02-10 15:10Z,LEBL,2,2023-02-10 18:10+01:00,2023-02-10 17:10Z,2023-02-10 17:56+01:00,2023-02-10 16:56Z
1639,IB 5587,Arrived,Iberia,False,CDG,Paris,None,None,LEBL,1,2023-02-10 17:30+01:00,2023-02-10 16:30Z,2023-02-10 17:30+01:00,2023-02-10 16:30Z

In [20]:
flights_df = pd.concat([EDDB_flights_df, EDDH_flights_df, EGLL_flights_df, EGCC_flights_df, LEBL_flights_df])
flights_df

,flight_number,flight_status,airline,cargo,departure_iata,departure_city,local_departure_time,utc_departure_time,arrival_icao,arrival_terminal,local_arrival_sceduled_time,utc_arrival_sceduled_time,local_arrival_actual_time,utc_arrival_actual_time
0,DX 123,Unknown,Danish Air,False,SCN,Saarbr√ºcken,2023-02-10 08:40+01:00,2023-02-10 07:40Z,EDDB,0,2023-02-10 10:20+01:00,2023-02-10 09:20Z,None,None
1,FR 328,Expected,Ryanair,False,OTP,Bucharest,2023-02-10 09:45+02:00,2023-02-10 07:45Z,EDDB,0,2023-02-10 10:55+01:00,2023-02-10 09:55Z,None,None
2,IB 3676,Expected,Iberia,False,MAD,Madrid,2023-02-10 07:45+01:00,2023-02-10 06:45Z,EDDB,1,2023-02-10 10:50+01:00,2023-02-10 09:50Z,None,None
3,LH 1934,Expected,Lufthansa,False,MUC,Munich,2023-02-10 09:00+01:00,2023-02-10 08:00Z,EDDB,1,2023-02-10 10:10+01:00,2023-02-10 09:10Z,None,None
4,LO 387,Expected,LOT - Polish,False,WAW,Warsaw,2023-02-10 09:15+01:00,2023-02-10 08:15Z,EDDB,1,2023-02-10 10:35+01:00,2023-02-10 09:35Z,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1635,VY 8749,Arrived,Vueling,False,MAN,Manchester,2023-02-10 14:25+00:00,2023-02-10 14:25Z,LEBL,1,2023-02-10 17:40+01:00,2023-02-10 16:40Z,2023-02-10 17:27+01:00,2023-02-10 16:27Z
1636,VY 8755,Arrived,Vueling,False,BHX,Birmingham,2023-02-10 13:50+00:00,2023-02-10 13:50Z,LEBL,1,2023-02-10 17:00+01:00,2023-02-10 16:00Z,2023-02-10 16:52+01:00,2023-02-10 15:52Z
1637,YW 8335,Expected,Air Nostrum,False,BJZ,Badajoz,2023-02-10 16:00+01:00,2023-02-10 15:00Z,LEBL,1,2023-02-10 17:35+01:00,2023-02-10 16:35Z,2023-02-10 17:35+01:00,2023-02-10 16:35Z
1638,FR 7435,Arrived,Ryanair,False,NAP,N√°poli,2023-02-10 16:10+01:00,2023-02-10 15:10Z,LEBL,2,2023-02-10 18:10+01:00,2023-02-10 17:10Z,2023-02-10 17:56+01:00,2023-02-10 16:56Z
1639,IB 5587,Arrived,Iberia,False,CDG,Paris,None,None,LEBL,1,2023-02-10 17:30+01:00,2023-02-10 16:30Z,2023-02-10 17:30+01:00,2023-02-10 16:30Z

In [27]:
schema="project_5_database"   # name of the database you want to use here
host="wbs-project5-db.cd7fypqniwr8.eu-west-2.rds.amazonaws.com"        # to connect to your local server
user="admin"
password="ENTER YOUR PASSWORD" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [28]:
flights_df.to_sql('flights',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

6528