In [1]:
import requests
import json
import pandas as pd
import re
from IPython.core import error

In [2]:
icao = ["EDDB", "EDDH", "EGLL", "EGCC", "LEBL"]
city = ['Berlin', 'Hamburg', 'London', 'Manchester', 'Barcelona']
airport_name = ["Berlin Schonefeld Airport", "Hamburg Airport", "London Heathrow Airport", "Manchester Airport", "Barcelona El Prat Airport" ]

icao_conversion_df = pd.DataFrame({'icao' : icao,
                                'city' : city,
                                'airport_name' : airport_name})

icao_conversion_df

   icao        city               airport_name
0  EDDB      Berlin  Berlin Schonefeld Airport
1  EDDH     Hamburg            Hamburg Airport
2  EGLL      London    London Heathrow Airport
3  EGCC  Manchester         Manchester Airport
4  LEBL   Barcelona  Barcelona El Prat Airport

In [5]:
schema="project_5_database"   # name of the database you want to use here
host="wbs-project5-db.cd7fypqniwr8.eu-west-2.rds.amazonaws.com"        # to connect to your local server
user="admin"
password="ENTER YOUR PASSWORD" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [6]:
icao_conversion_df.to_sql('icao_conversion',         # 'iss_logs'-> table name;
              if_exists='append', # if_exists -> will create new table if doesn't exist, otherwise, 'append' - will append data to existing table;
              con=con,            # con-> connection string;
              index=False)

5